@using System.Web
@using FribergCarRentals.Areas.Admin.Controllers
@using FribergCarRentals.Helpers
@using FribergCarRentals.Shared.Models.ViewModels.CarCategory
@model CarCategoryViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h2>@($"#{Model.CarCategoryId} - {Model.CategoryName}")</h2>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-area="@AdminControllerBase.Area" asp-action="List" class="button navigational-button">View Categories</a>
        <a asp-area="@AdminControllerBase.Area" asp-action="Edit" asp-route-id="@Model.CarCategoryId" class="button function-button">Edit</a>
        <form asp-area="@AdminControllerBase.Area" asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this car?');">
            <input type="hidden" name="id" value="@Model.CarCategoryId" asp-for="CarCategoryId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>
    </div>
    <partial name="/Views/Shared/_UserMessages.cshtml" model="Model.Messages" />
    <div class="vertical-flex-container filled-container flex-container__padding__1-rem">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => Model.CarCategoryId)
            </dt>
            <dd>
                @Html.DisplayFor(model => Model.CarCategoryId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => Model.CategoryName)
            </dt>
            <dd>
                @Html.DisplayFor(model => Model.CategoryName)
            </dd>
            @{
                if (Model.HaveCarCount)
                {
                    <dt>
                        @Html.DisplayNameFor(model => Model.CarCount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => Model.CarCount)
                    </dd>
                }
            }            
        </dl>
    </div>
</div>