@page "{id}"
@model FribergCarRentals.Areas.Admin.Pages.Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@($"Customer - #{Model.CustomerViewModel.CustomerId}")</h1>
<h2>@($"#{Model!.CustomerViewModel.CustomerId} - {Model!.CustomerViewModel.FullName}")</h2>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-area="@AdminPageModelBase.Area" asp-page="List" class="button navigational-button">View Customers</a>
        <a asp-area="@AdminPageModelBase.Area" asp-page="Edit" asp-route-id="@Model.CustomerViewModel.CustomerId" class="button function-button">Edit</a>
        @if (!Model.CustomerViewModel.IsEmailConfirmed)
        {
            <form asp-area="@AdminPageModelBase.Area" asp-page="ResendConfirmEmailLink" onsubmit="return confirm('Are you sure you want to send a new confirm email link?');">
                <input type="hidden" name="id" value="@Model.CustomerViewModel.CustomerId" asp-for="CustomerViewModel.CustomerId" />
                <button type="submit" class="function-button">Resend Confirm Email Link</button>
            </form>
        }
        <form asp-area="@AdminPageModelBase.Area" asp-page="Delete" onsubmit="return confirm('Are you sure you want to delete this customer?');">
            <input type="hidden" name="id" value="@Model.CustomerViewModel.CustomerId" asp-for="CustomerViewModel.CustomerId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>
    </div>
    <partial name="/Pages/Shared/_UserMessages.cshtml" for="CustomerViewModel.Messages" />
    <div class="vertical-flex-container filled-container flex-container__padding__1-rem">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.CustomerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.CustomerId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.OrderCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.OrderCount)
            </dd>
        </dl>
    </div>
</div>