@model CarOrderViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-action="List">View Order List</a>
        <div>|</div>
        <button onclick="history.back()">Go Back</button>
    </div>
    <div class="vertical-flex-container flex-container__filled-box flex-container__padding__1-rem">
        <h2>@($"{Model.CarOrderId} - {Model.Customer.FullName} - {Model.CarBooking.Car.CarInfo}")</h2>
        <p class="font-size_large text-align-center">Are you sure you want to delete this order?</p>
        <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
            <form asp-action="Delete">
                <input type="hidden" asp-for="CarOrderId" />
                <button type="submit" class="negative-button">Delete</button>
            </form>
        </div>
        <div class="vertical-flex-container flex-container__padding__1-rem">
            <h2>Order details</h2>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.CarOrderId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarOrderId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderDateLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderDateLocal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.PickupDateString)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarBooking.PickupDateString)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.ReturnDateString)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarBooking.ReturnDateString)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderSum)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderSum)
                </dd>
            </dl>
        </div>
        <div class="vertical-flex-container flex-container__padding__1-rem">
            <h2>Booked Car</h2>
            <h3>@Html.DisplayFor(model => model.CarBooking.Car.CarInfo)</h3>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.CarId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarBooking.Car.CarId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.Brand)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarBooking.Car.Brand)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.Model)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarBooking.Car.Model)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.ModelYear)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarBooking.Car.ModelYear)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.Color)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarBooking.Car.Color)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.PropulsionSystem)
                </dt>
                <dd>
                    @Model.CarBooking.Car.PropulsionSystem.PropulsionName
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.RegistrationNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CarBooking.Car.RegistrationNumber)
                </dd>
            </dl>
            <div class="tiled-image-gallery">
                @foreach (var image in Model.CarBooking.Car.Images)
                {
                    <figure>
                        <div class="vertical-flex-container">
                            <img src="@image.FilePath" />
                        </div>
                    </figure>
                }
            </div>
        </div>
    </div>
</div>
