@model IEnumerable<CarOrderViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>Car orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBooking.Car.CarInfoWithRegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentsSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBooking.Car.CarInfoWithRegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentsSum)
            </td>
            <td>
                <a asp-controller="AdminCustomer" asp-action="Details" asp-route-id="@item.Customer.UserId" asp-data>View customer</a> |
                <a asp-controller="AdminCar" asp-action="Details" asp-route-id="@item.CarBooking.Car.CarId">View car</a> |
                <a asp-action="Delete" asp-route-id="@item.CarOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
