@page "{id}"
@model FribergCarRentals.Areas.Admin.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "Order Details";
}

<h1>@($"Order - #{Model.OrderViewModel.CarOrderId}")</h1>
<h2>@($"{Model.OrderViewModel.Customer.FullName} - {Model.OrderViewModel.CarBooking.Car.CarInfo}")</h2>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem flex-container__row-gap__0-5-rem flex-container__wrap">
        <a asp-area="@AdminPageModelBase.Area" asp-page="List" class="button navigational-button">View Orders</a>
        <a asp-area="@AdminPageModelBase.Area" asp-page="../Customer/Details" asp-route-id="@Model.OrderViewModel.Customer.CustomerId" class="button navigational-button">View customer</a>
        <a asp-area="@AdminPageModelBase.Area" asp-page="../Car/Details" asp-route-id="@Model.OrderViewModel.CarBooking.Car.CarId" class="button navigational-button">View car</a>
        @if (Model.OrderViewModel.CanBeCompleted)
        {
            <form asp-area="@AdminPageModelBase.Area" asp-page="Complete" onsubmit="return confirm('Are you sure you want to complete this order?');">
                <input type="hidden" name="id" value="@Model.OrderViewModel.CarOrderId" asp-for="@Model.OrderViewModel.CarOrderId" />
                <button type="submit" class="positive-button">Complete</button>
            </form>
        }
        <form asp-area="@AdminPageModelBase.Area" asp-page="Delete" onsubmit="return confirm('Are you sure you want to delete this order?');">
            <input type="hidden" name="id" value="@Model.OrderViewModel.CarOrderId" asp-for="OrderViewModel.CarOrderId" />
            <button type="submit" class="negative-button full-height">Delete</button>
        </form>
    </div>
    <partial name="/Pages/Shared/_UserMessages.cshtml" for="OrderViewModel.Messages" />
    <div class="vertical-flex-container filled-container flex-container__padding__1-rem">        
        <div class="vertical-flex-container flex-container__padding__1-rem">
            <h2>Order details</h2>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarOrderId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarOrderId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.OrderStatusName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.OrderStatusName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.OrderDateLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.OrderDateLocal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.CarPickupDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.CarPickupDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.CarReturnDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.CarReturnDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.DebitedRentalDays)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.DebitedRentalDays)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.RentalCostPerDay)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.RentalCostPerDay)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.OrderSum)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.OrderSum)
                </dd>                
            </dl>
        </div>
        <div class="vertical-flex-container flex-container__padding__1-rem">
            <h2>Customer</h2>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.Customer.CustomerId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.Customer.CustomerId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.Customer.FullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.Customer.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.Customer.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.Customer.Email)
                </dd>
            </dl>
        </div>
        <div class="vertical-flex-container flex-container__padding__1-rem">
            <h2>Booked Car</h2>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.Car.CarId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.Car.CarId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.Car.Category.CategoryName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.Car.Category.CategoryName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.Car.Brand)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.Car.Brand)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.Car.Model)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.Car.Model)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.Car.ModelYear)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.Car.ModelYear)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.Car.Color)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.Car.Color)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.Car.PropulsionSystem)
                </dt>
                <dd>
                    @Model.OrderViewModel.CarBooking.Car.PropulsionSystem.PropulsionName
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderViewModel.CarBooking.Car.RegistrationNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderViewModel.CarBooking.Car.RegistrationNumber)
                </dd>
            </dl>
            <div class="tiled-image-gallery">
                @foreach (var image in Model.OrderViewModel.CarBooking.Car.Images)
                {
                    <figure>
                        <div class="vertical-flex-container">
                            <img src="@image.Url" />
                        </div>
                    </figure>
                }
            </div>
        </div>
    </div>
</div>
