@using MvcRazorPages.Shared.ViewModels.Admin
@model AdminViewModel

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin Panel</h1>
<p></p>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <div class="vertical-flex-container flex-container__padding__1-rem flex-container__row-gap__1-rem">
        <div class="vertical-flex-container flex-container__padding__1-rem filled-container ">
            <h2>@(Model.FullName)</h2>
            <p class="font-size_large text-align-center">Welcome to the admin panel. Your information can be seen below.</p>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
        <div class="vertical-flex-container flex-container__padding__1-rem filled-container ">
            <h2>Navigation</h2>
            <p class="text-align-center">You can use the navigation at the top of the page to browse your cars, customers and orders. More actions can be found in respective section.</p>
        </div>
    </div>
</div>