@using FribergCarRentals.Data.Types
@using FribergCarRentals.Data.EntityClasses
@using AppSettings.Shared.Settings;
@using FribergCarRentals.Data.Attributes
@using FribergCarRentals.Data.Extensions
@using MvcRazorPages.Shared.ViewModels.Car
@using FribergCarRentals.Areas.Admin.Controllers
@using FribergCarRentals.Helpers
@using MvcRazorPages.Shared.ViewModels.CarCategory
@model CreateCarViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Car</h1>
<div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-area="@AdminControllerBase.Area" asp-action="List" class="button navigational-button">View Cars</a>
    </div>
    <div class="horizontal-flex-container flex-container__justify-content__center filled-container flex-container__padding__1-rem">
        @if (Model.HaveCategories)
        {
            <form asp-area="@AdminControllerBase.Area" asp-action="Create" class="vertical-form" enctype="multipart/form-data">
            <div class="vertical-form-field">
                <div asp-validation-summary="ModelOnly" class="error-text"></div>
            </div>
            <div class="vertical-form-field">
                <label asp-for="RentalStatus"></label>
                <select asp-for="RentalStatus">
                    @foreach (var value in Enum.GetValues<RentalCarStatus>())
                    {
                        <!option value="@value" @(value == RentalCarStatus.None ? "selected" : "")>
                            @(value.GetAttribute<EnumDatabaseValueAttribute>().Value ?? "")
                        </!option>
                    }
                </select>
                <span asp-validation-for="RentalStatus" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="SelectedCategoryId" class="control-label">Category</label>
                <select class="form-input-box form-control" asp-for="SelectedCategoryId" asp-items="@(new SelectList(Model.Categories, nameof(CarCategoryViewModel.CategoryId), nameof(CarCategoryViewModel.CategoryName), Model.SelectedCategoryId))"></select>
                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" />
                <span asp-validation-for="Brand" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="Model"></label>
                <input asp-for="Model" />
                <span asp-validation-for="Model" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="ModelYear"></label>
                <input asp-for="ModelYear" />
                <span asp-validation-for="ModelYear" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="Color"></label>
                <input asp-for="Color" />
                <span asp-validation-for="Color" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="RegistrationNumber"></label>
                <input asp-for="RegistrationNumber" />
                <span asp-validation-for="RegistrationNumber" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="PropulsionSystem"></label>
                <select asp-for="PropulsionSystem">
                    @foreach (var value in Enum.GetValues<VehiclePropulsionType>())
                    {
                        <!option value="@value" @(value == VehiclePropulsionType.None ? "selected" : "")>
                            @(value.GetAttribute<EnumDatabaseValueAttribute>().Value ?? "")
                        </!option>
                    }
                </select>
                <span asp-validation-for="PropulsionSystem" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="RentalCostPerDay"></label>
                <input asp-for="RentalCostPerDay" type="number" step="0.01" />
                <span asp-validation-for="RentalCostPerDay " class="error-text"></span>
            </div>            
            <div class="vertical-form-field">
                <label asp-for="UploadImages"></label>
                <input asp-for="UploadImages" multiple />
                <span asp-validation-for="UploadImages" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <button type="submit">Create</button>
            </div>
            </form>
        }
        else
        {
            <div class="vertical-flex-container">
                <p>No car categories were found. Create a category first.</p>
                <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
                    <a asp-area="@AdminControllerBase.Area" asp-controller="AdminCarCategory" asp-action="Create" class="button function-button">Create Category</a>
                </div>                
            </div>
        }
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
