@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Cars";
}

<h1>Available cars</h1>

<div class="vertical-flex-container flex-container__row-gap__2-rem">
@foreach (var item in Model) 
{
    <div class="vertical-flex-container flex-container__filled-box flex-container__row-gap__1-rem padding__1rem">
        <h2>@Html.DisplayFor(model => item.CarInfo)</h2>
            <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.ModelYear)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.Brand)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.Model)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.Color)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.PropulsionSystem)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.PropulsionSystem.PropulsionName)
                </td>
            </tr>            
        </table>
        <div class="text-align-center">
            <form asp-action="BookCar" asp-controller="CarBooking">
                <input type="hidden" asp-for="@item.CarId" />
                <button asp-action="BookCar" asp-controller="CarBooking" asp-route-id="@item.CarId">Book Car</button>
            </form>            
        </div>
        <div class="grid-image-gallery">
        @foreach (var image in item.Images)
        {
            <figure>
                <img class="full-width" src="@image.FilePath" />
            </figure>            
        }
        </div>
    </div>
}
</div>

@* @section RightSidebar
{
    <p>You must login to book a car.</p>
} *@