@page "{id}"
@model FribergCarRentals.Pages.Admin.Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@($"Customer - #{Model.CustomerViewModel.UserId}")</h1>
<h2>@($"#{Model!.CustomerViewModel.UserId} - {Model!.CustomerViewModel.FullName}")</h2>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-page="List" class="button navigational-button">View Customers</a>
        <a asp-page="Edit" asp-route-id="@Model.CustomerViewModel.UserId" class="button function-button">Edit</a>
        <form asp-page="Delete" onsubmit="return confirm('Are you sure you want to delete this customer?');">
            <input type="hidden" name="id" value="@Model.CustomerViewModel.UserId" asp-for="CustomerViewModel.UserId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>
    </div>
    <partial name="/Pages/Shared/_UserMessages.cshtml" for="CustomerViewModel.Messages" />
    <div class="vertical-flex-container filled-container flex-container__padding__1-rem">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.UserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.UserId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.OrderCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.OrderCount)
            </dd>
        </dl>
    </div>
</div>