@using FribergCarRentals.Areas.Admin.Controllers
@using FribergCarRentals.Shared.Models.ViewModels.Customer
@model EditCustomerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
@if (Model.HavePageSubTitle)
{
    <h2>@Model.PageSubTitle</h2>
}
else
{
    <h2>@($"#{Model.AccountId} - {Model.FullName}")</h2>
}
<div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-area="@AdminControllerBase.Area" asp-action="List" class="button navigational-button">View Customers</a>
        <form asp-area="@AdminControllerBase.Area" asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this customer?');">
            <input type="hidden" name="id" value="@Model.AccountId" asp-for="AccountId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>
    </div>
    <partial name="/Views/Shared/_UserMessages.cshtml" for="Messages" />
    <div class="vertical-flex-container flex-container__justify-content__center filled-container flex-container__padding__1-rem full-width">
        <form asp-area="@AdminControllerBase.Area" asp-action="Edit" class="vertical-form">
            <div class="vertical-form-field">
                <div asp-validation-summary="ModelOnly" class="error-text"></div>
            </div>
            <input type="hidden" asp-for="AccountId" />
            <div class="vertical-form-field">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
