@using FribergCarRentals.Data.Order
@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <table class="colored-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CarOrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.CarInfoWithRegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarBooking.PickupDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarBooking.ReturnDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarBooking.RentalCostPerDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderSum)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarOrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBooking.Car.CarInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBooking.PickupDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBooking.PickupDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBooking.RentalCostPerDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderSum)
                    </td>
                    <td>
                        <div class="horizontal-flex-container flex-container__column-gap__0-5-rem">
                            <a asp-action="Details" asp-controller="CustomerOrder" asp-route-id="@item.CarOrderId" class="button">Details</a>
                            @if (item.IsCancelable)
                            {
                                <form asp-action="Cancel" onsubmit="return confirm('Are you sure you want to cancel this order?');">
                                    <input type="hidden" name="id" value="@item.CarOrderId" asp-for="@item.CarOrderId" />
                                    <button type="submit" class="negative-button">Cancel</button>
                                </form>
                            }       
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
