@using FribergCarRentals.Models.Order
@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <table class="colored-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CarOrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarBooking.Car.CarInfoWithRegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarBooking.PickupDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarBooking.ReturnDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarBooking.RentalCostPerDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderSum)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarOrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBooking.Car.CarInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBooking.PickupDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBooking.PickupDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBooking.RentalCostPerDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderSum)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="CustomerOrder" asp-route-id="@item.CarOrderId">Details</a>
                        
                        @if (item.IsCancelable)
                        {
                            <span>|</span>
                            <form asp-action="Cancel" onsubmit="return confirm('Are you sure you want to cancel this order?');">
                                <input type="hidden" name="id" asp-for="@item.CarOrderId" />
                                <button type="submit" class="negative-button">Cancel</button>
                            </form>
                        }                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
