@using FribergCarRentals.Data.Order
@model OrderViewModel

@{
    ViewData["Title"] = "OrderConfirmation";
}

<h1>Thank you for your order!</h1>
<p class="text-align-center">Details of your order can be found below.</p>

<div class="vertical-flex-container flex-container__row-gap__2-rem">
    <div class="vertical-flex-container filled-container flex-container__padding__1-rem">
        <h2>Order details</h2>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.CarOrderId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarOrderId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrderDateLocal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderDateLocal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.PickupDateLocal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarBooking.PickupDateLocal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.ReturnDateLocal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarBooking.ReturnDateLocal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrderSum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderSum)
            </dd>
        </dl>
    </div>
    <div class="vertical-flex-container filled-container flex-container__padding__1-rem">
        <h2>Booked Car</h2>
        <h3>@Html.DisplayFor(model => model.CarBooking.Car.CarInfo)</h3>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.Car.CarId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarBooking.Car.CarId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.Car.Brand)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarBooking.Car.Brand)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.Car.Model)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarBooking.Car.Model)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.Car.ModelYear)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarBooking.Car.ModelYear)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.Car.Color)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarBooking.Car.Color)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.Car.PropulsionSystem)
            </dt>
            <dd>
                @Model.CarBooking.Car.PropulsionSystem.PropulsionName
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarBooking.Car.RegistrationNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarBooking.Car.RegistrationNumber)
            </dd>
        </dl>
        <div class="tiled-image-gallery">
            @foreach (var image in Model.CarBooking.Car.Images)
            {
                <figure>
                    <div class="vertical-flex-container">
                        <img src="@image.FilePath" />
                    </div>
                </figure>
            }
        </div>
    </div>
</div>
