@model IEnumerable<CarBookingViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarOrder.CarOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDateUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDateUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalCostPerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarOrder.CarOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.ModelYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalCostPerDay)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CarBookingId">Details</a> |
                <a asp-action="Cancel" asp-route-id="@item.CarBookingId">Cancel booking</a>
            </td>
        </tr>}
    </tbody>
</table>
