@model IEnumerable<CarBookingViewModel>

@{
    ViewData["Title"] = "Your bookings";
}

<h1>Your bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.CarInfoWithRegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDateString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDateString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalCostPerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarOrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarBookingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.CarInfoWithRegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupDateString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDateString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalCostPerDay)
        </td>
        <td>
            @* <a asp-action="Details" asp-route-id="@item.CarBookingId">Details</a> | *@
            <a asp-action="Cancel" asp-route-id="@item.CarBookingId">Cancel booking</a>
        </td>
    </tr>
}
    </tbody>
</table>
