@using FribergCarRentals.Areas.Admin.Controllers
@using MvcRazorPages.Shared.ViewModels.Order
@using MvcRazorPages.Shared.ViewModels.Other
@model ListViewModel<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
@if (Model.Count > 0)
{
    <div class="vertical-flex-container flex-container__row-gap__1-rem flex-container__align-items-center">
        <partial name="/Views/Shared/_UserMessages.cshtml" for="Messages" />
        <table class="colored-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].CarOrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].OrderStatusName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].OrderDateLocal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].CarBooking.Car.CarInfoWithRegistrationNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].OrderSum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].Paid)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Models)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarOrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStatusName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDateLocal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarBooking.Car.CarInfoWithRegistrationNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderSum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Paid)
                        </td>
                        <td>
                            <div class="horizontal-flex-container flex-container__column-gap__0-5-rem">
                                <a asp-area="@AdminControllerBase.Area" asp-action="Details" asp-route-id="@item.CarOrderId" class="button navigational-button">Details</a>
                                @if (item.CanBeCompleted)
                                {
                                    <form asp-area="@AdminControllerBase.Area" asp-action="Complete" onsubmit="return confirm('Are you sure you want to complete this order?');">
                                        <input type="hidden" name="id" value="@item.CarOrderId" asp-for="@item.CarOrderId" />
                                        <button type="submit" class="positive-button">Complete</button>
                                    </form>
                                }
                                <form asp-area="@AdminControllerBase.Area" asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this order?');">
                                    <input type="hidden" name="id" value="@item.CarOrderId" asp-for="@item.CarOrderId" />
                                    <button type="submit" class="negative-button">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-align-center">No orders found.</p>
}