@using FribergCarRentals.Areas.Admin.Pages

<li>
    <a asp-area="@AdminPageModelBase.Area" asp-page="/Index">Home</a>
</li>
<li>
    <a asp-area="@AdminPageModelBase.Area" asp-page="/Car/Category/List">Car Categories</a>
</li>
<li>
    <a asp-area="@AdminPageModelBase.Area" asp-page="/Car/List">Cars</a>
</li>
<li>
    <a asp-area="@AdminPageModelBase.Area" asp-page="/Customer/List">Customers</a>
</li>
<li>
    <a asp-area="@AdminPageModelBase.Area" asp-page="/Order/List">Orders</a>
</li>
<li>
    <a asp-area="@AdminPageModelBase.Area" asp-page="/Logout">Logout</a>
</li>
