@using System.Web
@using FribergCarRentals.Data.Car
@model CarViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@($"Car - #{Model.CarId}")</h1>
<h2>@($"#{Model.CarId} - {Model.CarInfo}")</h2>
<div class="vertical-flex-container flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <button onclick="history.back()">Go Back</button>
        <a asp-action="List" class="button">View Car List</a>
        <a asp-action="Edit" asp-route-id="@Model.CarId" class="button">Edit</a>
        <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this car?');">
            <input type="hidden" name="id" value="@Model.CarId" asp-for="CarId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>        
    </div>
    <div class="vertical-flex-container filled-container flex-container__padding__1-rem">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.CarId)
            </dt>
            <dd>
                @Model.CarId
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RentalStatus)
            </dt>
            <dd>
                @Model.RentalStatus.StatusName
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModelYear)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModelYear)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>   
            <dt>
                @Html.DisplayNameFor(model => model.PropulsionSystem)
            </dt>
            <dd>
                @Model.PropulsionSystem.PropulsionName
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RegistrationNumber)
            </dd>      
            <dt>
                @Html.DisplayNameFor(model => model.ImageFilePaths)
            </dt>
            <dd class="tiled-image-gallery">
                @foreach (var image in Model.Images)
                {
                    <figure>
                        <div class="vertical-flex-container">
                            <img src="@image.FilePath" />
                            <figcaption>@image.FilePath</figcaption>
                        </div>                    
                    </figure>                
                }
            </dd>
        </dl>
    </div>
</div>