@using FribergCars.Shared.SharedTypes
@using FribergCars.Shared.SharedClasses
@using System.ComponentModel.DataAnnotations
@model CarViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-action="List">View Car List</a>
        <div>|</div>
        <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this car?');">
            <input type="hidden" asp-for="CarId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>
        <div>|</div>
        <button onclick="history.back()">Go Back</button>
    </div>
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__filled-box flex-container__padding__1-rem">
        <form asp-action="Edit" class="vertical-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="vertical-form-field">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CarId" />
            <div class="vertical-form-field">
                <label asp-for="Color"></label>
                <input asp-for="Color" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="Model"></label>
                <input asp-for="Model" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="ModelYear"></label>
                <input asp-for="ModelYear" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="RegistrationNumber"></label>
                <input asp-for="RegistrationNumber" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="RentalStatus"></label>
                <select asp-for="RentalStatus">
                    @foreach (var value in Enum.GetValues<CarRentalStatus>())
                    {
                        <!option value="@value" @(value == Model.RentalStatus.StatusType ? "selected" : "")>
                            @(value.GetAttribute<EnumDatabaseValueAttribute>().Value ?? "")
                        </!option>
                    }
                </select>
                <span asp-validation-for="RentalStatus" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="PropulsionSystem"></label>
                <select asp-for="PropulsionSystem">
                    @foreach (var value in Enum.GetValues<VehiclePropulsionType>())
                    {
                        <!option value="@value" @(value == Model.PropulsionSystem.PropulsionType ? "selected" : "")>
                            @(value.GetAttribute<EnumDatabaseValueAttribute>().Value ?? "")
                        </!option>
                    }
                </select>
                <span asp-validation-for="PropulsionSystem" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="Images">Images - One per line</label>
                <textarea name="Images">@Model.ImageFilePaths</textarea>
                <span asp-validation-for="ImageFilePaths" class="text-danger"></span>
            </div>            
            <div class="vertical-form-field">
                <button type="submit" class="positive-button">Save</button>
            </div>
        </form>
    </div>
</div>
