@page
@using FribergCarRentals.Data.EntityClasses
@using AppSettings.Shared.Settings;
@using FribergCarRentals.Shared.Models.ViewModels.CarCategory
@model FribergCarRentals.Areas.Admin.Pages.Car.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Car</h1>
<div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-area="@AdminPageModelBase.Area" asp-page="List" class="button navigational-button">View Cars</a>
    </div>
    <div class="horizontal-flex-container flex-container__justify-content__center filled-container flex-container__padding__1-rem">
        @if (Model.CreateCarViewModel.HaveCategories)
        {
            <form asp-area="@AdminPageModelBase.Area" asp-page="Create" class="vertical-form" enctype="multipart/form-data">
                <div class="vertical-form-field">
                    <div asp-validation-summary="ModelOnly" class="error-text"></div>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.SelectedRentalStatusId"></label>
                    <select asp-for="CreateCarViewModel.SelectedRentalStatusId">
                        @foreach (var status in Model.CreateCarViewModel.RentalStatuses)
                        {
                            <!option value="@status.CarRentalStatusId" @(status.IsStatusNone ? "selected" : "")>
                                @(status.StatusName)
                            </!option>
                        }
                    </select>
                    <span asp-validation-for="CreateCarViewModel.SelectedRentalStatusId" class="error-text"></span>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.SelectedCategoryId" class="control-label">Category</label>
                    <select class="form-input-box form-control" asp-for="CreateCarViewModel.SelectedCategoryId" asp-items="@(new SelectList(Model.CreateCarViewModel.Categories, nameof(CarCategoryViewModel.CarCategoryId), nameof(CarCategoryViewModel.CategoryName), Model.CreateCarViewModel.SelectedCategoryId))"></select>
                    <span asp-validation-for="CreateCarViewModel.SelectedCategoryId" class="text-danger"></span>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.Brand"></label>
                    <input asp-for="CreateCarViewModel.Brand" />
                    <span asp-validation-for="CreateCarViewModel.Brand" class="error-text"></span>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.Model"></label>
                    <input asp-for="CreateCarViewModel.Model" />
                    <span asp-validation-for="CreateCarViewModel.Model" class="error-text"></span>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.ModelYear"></label>
                    <input asp-for="CreateCarViewModel.ModelYear" />
                    <span asp-validation-for="CreateCarViewModel.ModelYear" class="error-text"></span>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.Color"></label>
                    <input asp-for="CreateCarViewModel.Color" />
                    <span asp-validation-for="CreateCarViewModel.Color" class="error-text"></span>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.RegistrationNumber"></label>
                    <input asp-for="CreateCarViewModel.RegistrationNumber" />
                    <span asp-validation-for="CreateCarViewModel.RegistrationNumber" class="error-text"></span>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.SelectedPropulsionSystemId"></label>
                    <select asp-for="CreateCarViewModel.SelectedPropulsionSystemId">
                        @foreach (var propulsion in Model.CreateCarViewModel.VehiclePropulsions)
                        {
                            <!option value="@propulsion.VehiclePropulsionId" @(propulsion.IsStatusNone ? "selected" : "")>
                                @(propulsion.PropulsionName)
                            </!option>
                        }
                    </select>
                    <span asp-validation-for="CreateCarViewModel.SelectedPropulsionSystemId" class="error-text"></span>
                </div>
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.RentalCostPerDay"></label>
                    <input asp-for="CreateCarViewModel.RentalCostPerDay" type="number" step="0.01"/>
                    <span asp-validation-for="CreateCarViewModel.RentalCostPerDay "class="error-text"></span>
                </div>            
                <div class="vertical-form-field">
                    <label asp-for="CreateCarViewModel.UploadImages"></label>
                    <input asp-for="CreateCarViewModel.UploadImages" multiple />
                    <span asp-validation-for="CreateCarViewModel.UploadImages" class="error-text"></span>
                </div>
                <div class="vertical-form-field">
                    <button type="submit">Create</button>
                </div>
            </form>
        }
        else
        {
            <div class="vertical-flex-container">
                <p>No car categories were found. Create a category first.</p>
                <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
                    <a asp-area="@AdminPageModelBase.Area" asp-page="Category/Create" class="button function-button">Create Category</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
