@page
@using FribergCarRentals.Pages.Admin.Car
@model FribergCarRentals.Pages.Admin.Car.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h2>@($"#{Model.CarViewModel.CarId} - {Model.CarViewModel.CarInfo}")</h2>
<div class="vertical-flex-container flex-container__row-gap__1-rem flex-container__align-items-center">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-page="List" class="button navigational-button">View Cars</a>
        <a asp-page="Edit" asp-route-id="@Model.CarViewModel.CarId" class="button function-button">Edit</a>
        <form asp-page="Delete" onsubmit="return confirm('Are you sure you want to delete this car?');">
            <input type="hidden" name="id" value="@Model.CarViewModel.CarId" asp-for="CarViewModel.CarId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>
    </div>
    <partial name="/Pages/Shared/_UserMessages.cshtml" model="Model.CarViewModel.Messages" />
    <div class="vertical-flex-container filled-container flex-container__padding__1-rem">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.CarId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.CarId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.RentalStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.RentalStatus.StatusDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.Category.CategoryName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.Category.CategoryName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.RegistrationNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.RegistrationNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.Brand)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.Brand)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.Model)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.Model)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.ModelYear)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.ModelYear)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.Color)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.Color)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.PropulsionSystem)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.PropulsionSystem.PropulsionDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.RentalCostPerDay)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarViewModel.RentalCostPerDay)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CarViewModel.Images)
            </dt>
            <dd>
                @if (Model.CarViewModel.Images.Count > 0)
                {
                    <div class="tiled-image-gallery tiled-image-gallery__image-size_medium">
                        @foreach (var image in Model.CarViewModel.Images)
                        {
                            <figure>
                                <div class="vertical-flex-container">
                                    <img src="@image.Url" />
                                    <figcaption>@image.FileName</figcaption>
                                </div>
                            </figure>
                        }
                    </div>
                }
                else
                {
                    <span>None</span>
                }
            </dd>
        </dl>
    </div>
</div>