@using FribergCarRentalsBlazor.Components
@using FribergCarRentalsBlazor.Components.Admin
@attribute [Route(PageUrlTemplate)]
@inherits AdminPageComponentBase

<AuthorizeView Context="AuthorizeContext" Policy="@ApplicationUserPolicies.Admin">
	<Authorized>
        <h1>Edit</h1>
        @if (EditCarCategoryViewModel.HavePageSubTitle)
        {
            <h2>@EditCarCategoryViewModel.PageSubTitle</h2>
        }
        else
        {
            <h2>@($"#{EditCarCategoryViewModel.CarCategoryId} - {EditCarCategoryViewModel.CategoryName}")</h2>
        }
        <div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
            <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
                <a href="@Pages.Admin.Car.Category.ListCategories.GetPageUrl()" class="button navigational-button">View Categories</a>
                <DeleteCarCategoryButton CarCategory="_carCategory" OnDeletedCategory="OnDeleteCategory"></DeleteCarCategoryButton>
            </div>
            <UserMessages Messages="EditCarCategoryViewModel.Messages"></UserMessages>
            <div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__0-5-rem filled-container flex-container__padding__1-rem full-width">
                <h2>Details</h2>
                <EditForm Model="EditCarCategoryViewModel" class="vertical-form full-width" OnValidSubmit="OnEditCategory">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    @if (_apiValidationErrors.Count > 0)
                    {
                        <UserMessages Messages="_apiValidationErrors"></UserMessages>
                    }
                    <div class="vertical-form-field">
                        <label for="category-name">Category name</label>
                        <InputText id="category-name" @bind-Value="EditCarCategoryViewModel.CategoryName"></InputText>
                        <ValidationMessage For="@(() => EditCarCategoryViewModel.CategoryName)" class="error-text" />
                    </div>
                    <div class="vertical-form-field">
                        <button type="submit">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
		<RedirectToLogin ReturnToUrl="@NavigationManager.Uri"></RedirectToLogin>
	</NotAuthorized>
</AuthorizeView>
